[submodule "hipsweb"]
	path = hipsweb
	url = https://gitlab.dengun.org/hips/hipsweb.git
[submodule "Hipsweb"]
	path = Hipsweb
	url = https://gitlab.dengun.org/hips/hipsweb.git
[submodule "hips"]
	path = hips
	url = https://gitlab.dengun.org/hips/hipsweb.git
