@media only screen and (max-width: 1680px) {
  /* GALLERY ================================================================*/
  .gallery-grid {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows:  repeat(3, 33.33333%);
    grid-template-areas: 
      "gItem1 gItem1 gItem2 gItem5"
      "gItem3 gItem4 gItem2 gItem6"
      "gItem3 gItem7 gItem7 gItem6";
  }

  .zoom-image {
    max-height: 80%;
  }
}

@media only screen and (max-width: 1366px) {
  .normal-container {
    width: 1024px;
  }

  .padded {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .scroll-up {
    display: none;
  }

  /* SECTION CREATOR =========================================================*/
  .creator-wrapper {
    font-size: .8em;
  }
  
  /* SECTION GAME MODE ====================================================*/
  .image-block__content {
    font-size: 15px;
  }

  .gamemode {
    display: block;
  }

  .gamemode__description {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 1280px) {

  .minus span:nth-child(1) ,
  .minus span:nth-child(3) {
    opacity: 0;
    width: 0;
  }

  header {
    height: 0;
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-end;
  }

  header.open {
    height: 470px;
    padding-bottom: 40px;
  }

  .header-link {
    display: block;
    padding-right: 20px;
  }

  .hamburger {
    display: flex;
  }

  .logo-header {
    position: absolute;
    top: 5px;
    left: 0;
    height: 70px;
  }

  .logo {
    display: none;
  }

  .social-strip__icon {
    font-size: 40px;
  }

}
