@media only screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }

  .button {
    max-width: 100%;
  }

  section ,
  .grid-container {
    height: auto;
  }

  .section-1,
  .section-3 {
    display: block;
  }

  .trailer-video {
    z-index: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -20%;
    left: 0;
    right: 0;
    height: 700px;
    transition: all .5s;
  }

  .parent {
    padding-top: 85px;
  }

  .section1-flex2 {
    margin-top: 250px;
  }

  .big-text {
    font-size: 20px;  
    line-height: 35px;
  }

  /* SECTION ==========================================*/
  section {
    font-size: 80%;
  }

  /* SECTION HOME ==========================================*/
  .home__content {
    font-size: .8em;
  }

  .side-caption:before {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%);
  }

  /* SECTION CREATOR =========================================================*/
  .creator-wrapper {
    font-size: .6em;
  }  

  /* SECTION GAME MODE ==========================================*/
  .image-block__content {
    font-size: 1.2em;
    line-height: 2.2em;
  }
}

@media only screen and (max-width: 575px) {
  .image-block {
    background-size: cover;
    background-position: bottom -100px center;
  }

  .image-block__content {
    position: relative;
    left: 0;
    right: 0;
  }

  .gamemode__gallery-item--left .image-block__content {
    left: 0;
  }
}