@media only screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }

  .normal-container {
    width: 90%;
  }

  .button {
    max-width: 100%;
  }

  .logo-mobile {
    display: block;
    position: absolute;
    top: 5px;
    left: 30px;
    height: 70px;
  }

  .logo {
    display: none;
  }

  section ,
  .grid-container {
    height: auto;
  }

  .section-1,
  .section-3 {
    display: block;
  }

  .trailer-video {
    z-index: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -20%;
    left: 0;
    right: 0;
    height: 700px;
    transition: all .5s;
  }

  .parent {
    padding-top: 85px;
  }

  .section1-flex2 {
    margin-top: 250px;
  }

  .big-text {
    font-size: 20px;  
    line-height: 35px;
  }

  /* SECTION */
  section {
    font-size: 80%;
  }
}