@media only screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }

  .button {
    max-width: 100%;
  }

  section ,
  .grid-container {
    height: auto;
  }

  .section-1,
  .section-3 {
    display: block;
  }

  .flex-container--enemies {
    height: auto;
  }

  #enemies .background-cover {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .trailer-video {
    z-index: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -20%;
    left: 0;
    right: 0;
    height: 700px;
    transition: all .5s;
  }

  .parent {
    padding-top: 85px;
  }

  .section1-flex2 {
    margin-top: 250px;
  }

  .big-text {
    font-size: 20px;  
    line-height: 35px;
  }

  .map-nav {
    width: 90%;
  }

  /* SECTION ==========================================*/
  section {
    font-size: 80%;
  }

  /* SECTION HOME ==========================================*/
  .home__content {
    font-size: .8em;
  }

  .side-caption:before {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 250px);
  }

  /* SECTION CREATOR =========================================================*/
  .creator-wrapper {
    font-size: .6em;
  }

  /* SECTION ENEMIES =========================================================*/
  .enemies-wrapper {
    flex-direction: column;
  }

  .fc-content {
    font-size: 75%;
  }

  .Modern-Slider-2 .slick-list {
    width: 80vw;
    height: 470px;
  }

  .Modern-Slider-2 .slick-slide {
    padding: 20px;
  }

  /* SECTION GAME MODE ==========================================*/
  .image-block__content {
    font-size: 1.2em;
    line-height: 2.2em;
  }
}

@media only screen and (max-width: 575px) {
  .image-block {
    background-size: cover;
    background-position: bottom -100px center;
  }

  .image-block__content {
    position: relative;
    left: 0;
    right: 0;
  }

  .gamemode__gallery-item--left .image-block__content {
    left: 0;
  }

  /* SECTION GALLERY ====================================================*/
  .gallery-grid {
    height: auto;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:     
      "gItem1 gItem1 gItem2 gItem2"
      "gItem3 gItem3 gItem2 gItem2"
      "gItem3 gItem3 gItem4 gItem4"
      "gItem7 gItem7 gItem7 gItem7"
      "gItem5 gItem5 gItem6 gItem6";
  }

  .gallery-item--horizontal {
    background-size: auto 100%;
  }

  .gallery-item--horizontal:hover {
    background-size: auto 110%;
  }
}