:root {
  --border: 5px;
  --dark1: #000;
  --dark2: #111;
  --dark3: #222;
  --grey1: #555;
  --grey2: #999;
  --primary: #ff394a;
  --primary2: #ff000f;
  --success: #55cf77;
  --transparent-grey1: rgba(85, 85, 85, 0.5);
  --transparent-dark3: rgba(34, 34, 34, 0.5);
  --padding: calc(var(--border) + var(--border));
  --padding-medium: calc(var(--padding) + var(--border));
  --padding-large: calc(var(--padding-medium) + var(--padding-medium));
  --bold: 700;
}

input,
select,
.mybutton,
input[type='checkbox']::before {
  background: black;
  margin: 0;
  color: white;
  padding: 10px;
  border: 2px solid #222;
  border-radius: 3px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  padding: 0;
  position: relative;
  appearance: none;
  visibility: hidden;
  margin-right: var(--padding);
}

input[type='checkbox']::before {
  position: absolute;
  top: -3px;
  left: -3px;
  display: inline-block;
  content: '';
  visibility: visible;
  width: 17px;
  height: 17px;
  padding: 0;
}

input[type='checkbox']:checked::before {
  box-shadow: inset 0 0 0 3px var(--dark1);
  background-color: var(--primary);
}

input:disabled,
select:disabled,
.mybutton:disabled {
  background: var(--dark2);
  color: var(--grey1);
  cursor: not-allowed;
}

input:disabled:hover,
select:disabled:hover,
.mybutton:disabled:hover {
  border-color: var(--grey1);
}

.h-col {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

/* FLEX BOX: */
.h-flex {
  display: flex;
  gap: var(--padding);
}

.h-flex--center {
  align-items: center;
}

.h-flex--column {
  flex-direction: column;
}

.h-card {
  border-radius: var(--border);
  padding: var(--padding-large);
  background-color: var(--dark2);
}

.h-styles label {
  margin-bottom: 0;
  color: var(--grey1);
}

.h-styles code {
  margin-bottom: var(--padding);
}

pre code {
  //background-color: var(--dark3);
  color: #e83e8c;
  //padding: var(--padding);
  //border-radius: var(--border);
}

.h-btn {
  border-radius: var(--border);
  padding: var(--border) var(--padding-medium);
  font-weight: var(--bold);
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--grey2);
  color: var(--dark1);
}

.h-input-effects {
  transition: all 0.25s ease-in-out;
}

.h-input-effects:hover {
  border-color: var(--white);
}

/* FORM RELATED */
.h-form-group {
  gap: var(--padding);
  display: flex;
  flex-direction: column;
}

.h-field {
  border-radius: var(--border);
  padding: var(--border) var(--padding-medium);
  background-color: var(--dark3);
  color: var(--grey2);
}

.h-btn-primary {
  background-color: var(--primary);
  color: var(--dark1);
}

.h-btn-success {
  background-color: var(--success);
  color: var(--dark1);
}

.h-padded {
  padding: var(--padding-large);
}

.h-padded-medium {
  padding: var(--padding-medium);
}

.h-padded-small {
  padding: var(--padding);
}

.h-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr.h-hr {
  width: 90%;
  border-color: #555;
}

/* UTILITY */
.h-hide {
  display: none;
}
