@media only screen and (max-width: 1366px) {
  .normal-container {
    width: 1024px;
  }

  .padded {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  /* SECTION CREATOR =========================================================*/
  .creator-wrapper {
    font-size: .8em;
  }
  
  /* SECTION GAME MODE ====================================================*/
  .image-block__content {
    font-size: 15px;
  }

  .gamemode {
    display: block;
  }

  .gamemode__description {
    margin-bottom: 60px;
  }
}
