@media only screen and (max-width: 1024px) {
  .normal-container {
    width: 920px;
  }

  .row.middle {
    justify-content: initial;
  }

  .image-block__content {
    font-size: 1em;
  }

  /* SECTION STORY */
  .story__content {
    width: 100%;
  }
  
}

@media only screen and (max-width: 992px) {

  .normal-container {
    width: 90%;
  }

  section {
    height: auto;
    padding-top: var(--header-offset-tablet);
  }

  .trailer-video {
    z-index: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -20%;
    left: 0;
    right: 0;
    height: 700px;
    transition: all .5s;
  }

  .parent {
    padding-top: 85px;
  }

  .section1-flex2 {
    margin-top: 250px;
  }

  .big-text {
    font-size: 20px;  
    line-height: 35px;
  }

  /* SECTION HOME =========================================================*/
  .home-wrapper {
    align-items: flex-end;
  }

  .home__content {
    margin-left: 0;
    margin-bottom: 60px;
    width: 100%;
    max-width: 100%;
  }

  .side-caption {
    height: auto;
  }

  .side-caption:before {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 65%);
  }

  /* SECTION GAME MODE ====================================================*/

  .gamemode-wrapper {
    height: auto;
  }

  .gamemode__gallery {
    display: block;
  }

  .image-block {
    background-size: 60%;
    background-position: right 0 center;
  }

  .image-block:after {
    padding-bottom: 250px;
  }

  .image-block__content {
    top: 0;
    right: 50%;
    opacity: 1;
    font-size: 1.4em;
    line-height: 2.4em;
    background-color: var(--dark);
  }

  .gamemode__gallery-item {
    margin-bottom: 60px;
  }

  .gamemode__gallery-item--left .image-block {
    background-position: left 0 center;
  }

  .gamemode__gallery-item--left .image-block__content {
    left: 50%;
    right: 0;
  }

  /* SECTION SUPPORT ==========================================*/
  .support-wrapper {
    align-items: flex-end;
    justify-content: stretch;
    padding-left: 0;
    padding-top: 300px;
    height: auto;
  }

  .support-wrapper .col {
    margin-bottom: 60px;
  }

  .sl-image {
    height: auto;
    background-size: 200% !important;
    background-position: 0 0 !important;
  }

  /* SECTION LEVEL ====================================================*/
  .map-title {
    top: 42px;
  }

  /* SECTION GALLERY ====================================================*/
  .gallery-grid {
    grid-template-rows: repeat(3, 190px);
  }

  /* SECTION SOCIAL ==========================================*/
  #social {
    height: 100%;
  }

  .social-strip {
    flex-direction: column;
  }
}