@media only screen and (max-width: 1024px) {
  .normal-container {
    width: 920px;
  }

  .row.middle {
    justify-content: initial;
  }

  .image-block__content {
    font-size: 1em;
  }

  /* SECTION STORY */
  .story__content {
    width: 100%;
  }
  
}

@media only screen and (max-width: 992px) {

  .normal-container {
    width: 90%;
  }

  section {
    height: auto;
  }

  .minus span:nth-child(1) ,
  .minus span:nth-child(3) {
    opacity: 0;
    width: 0;
  }

  header {
    height: 0;
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-end;
  }

  header.open {
    height: auto;
    padding-bottom: 40px;
  }

  .header-link {
    display: block;
  }

  .hamburger {
    display: flex;
  }

  .logo-mobile {
    display: block;
    position: absolute;
    top: 5px;
    left: 30px;
    height: 70px;
  }

  .logo {
    display: none;
  }
  
  .side-caption:before {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%);
  }

  .trailer-video {
    z-index: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -20%;
    left: 0;
    right: 0;
    height: 700px;
    transition: all .5s;
  }

  .parent {
    padding-top: 85px;
  }

  .section1-flex2 {
    margin-top: 250px;
  }

  .big-text {
    font-size: 20px;  
    line-height: 35px;
  }

  /* SECTION GAME MODE ====================================================*/

  .gamemode-wrapper {
    height: auto;
  }

  .gamemode__gallery {
    display: block;
  }

  .image-block {
    background-size: 60%;
    background-position: right 0 center;
  }

  .image-block:after {
    padding-bottom: 250px;
  }

  .image-block__content {
    top: 0;
    right: 50%;
    opacity: 1;
    font-size: 1.4em;
    line-height: 2.4em;
    background-color: var(--dark);
  }

  .gamemode__gallery-item {
    margin-bottom: 60px;
  }

  .gamemode__gallery-item--left .image-block {
    background-position: left 0 center;
  }

  .gamemode__gallery-item--left .image-block__content {
    left: 50%;
    right: 0;
  }

}